body {
    margin: 0;
    padding: 0
}

.highlight {
    color: #dd5600
}

.blue {
    color: #2fa4e7
}

.badge {
    background: #c9481c;
    color: #fff
}

footer p {
    color: #909090;
    text-align: center;
    font-size: 9pt
}

.footer,.home-footer {
    bottom: 0;
    padding: 20px 0;
    width: 100%;
    height: 60px;
    border-top: 1px solid #ebebeb;
    background: #efefef
}

#gotop,.home-footer {
    position: fixed
}

#gotop {
    top: auto;
    bottom: 40px;
    left: 50%;
    z-index: 999;
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #bebebe;
    border-radius: 50%;
    background-color: #bebebe;
    color: #fff;
    cursor: pointer
}

#gotop i {
    display: block;
    text-align: center;
    font-size: 40px;
    line-height: 58px
}

#gotop:hover {
    border-color: #555;
    background-color: #555;
    color: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.home {
    padding-top: 10%;
    background: #f7f7f7
}

.home-logo {
    display: block;
    width: 344px;
    height: 145px;
    background-image: url(/static/img/logo.png);
    color: transparent;
    text-align: center;
    text-indent: -9999px;
    font-size: 0
}

.search h1 {
    text-align: center
}

.search .msg {
    margin: 30px 0
}

.hot {
    margin-top: 10px
}

.hot .label {
    display: block;
    margin: 5px;
    padding: 5px
}

.header {
    margin-top: 20px
}

.header .logo {
    float: left;
    display: inline;
    margin: 0
}

.logo h1 {
    position: absolute;
    top: 0;
    display: block;
    margin-top: -2px;
    width: 142px;
    height: 60px;
    background-image: url(/static/img/logo2.png);
    color: transparent;
    text-align: center;
    text-indent: -9999px;
    font-size: 0
}

.hots {
    margin-top: 10px;
    padding-right: 30px;
    height: 36px;
    line-height: 34px
}

.hots span {
    float: left
}

.hots span a {
    float: left;
    display: block;
    overflow: hidden;
    padding: 0 10px;
    height: 40px;
    max-width: 150px;
    color: #666
}

.hots ol>li+li:before {
    padding-right: 5px;
    padding-left: 0;
    color: #ccc;
    content: "/\00a0"
}

.hots>li {
    display: inline-block
}

.sort {
    margin-top: 10px;
    padding-right: 5pc;
    height: 36px;
    border-top: 1px solid #dbdbdb;
    background: #f8f8f8;
    line-height: 34px
}

.sort span {
    float: left
}

.sort ol>li+li:before {
    padding-right: 5px;
    padding-left: 0;
    color: #ccc;
    content: "/\00a0"
}

.sort>li {
    display: inline-block
}

.list-section {
    margin-top: 20px
}

.media-list {
    margin-left: -30px
}

.media {
    margin-top: 20px;
    padding: 15px 20px;
    width: 90%
}

.media:hover {
    background: #f7f7f7
}

.media-file {
    overflow: hidden;
    line-height: 20px
}

.media-file ul {
    margin: 10px 0;
    padding-left: 10px
}

.media-file li {
    overflow: hidden;
    height: 18px;
    color: #666;
    font-size: 9pt;
    line-height: 18px
}

.media-file li i {
    padding-right: 5px
}

.media-file li em {
    color: #999
}

.media-more {
    color: #888;
    font-size: 9pt;
    line-height: 24px
}

.media-more span {
    float: left;
    margin-left: 10px
}

.media-more label {
    float: left
}

.media-down {
    float: right;
    margin-right: 10px
}

.media-down a {
    padding-left: 10px
}

.sidebar {
    width: 20%
}

.hot {
    margin-top: 30px;
    padding-bottom: 60px
}

.hot a {
    display: inline-block;
    overflow: hidden;
    margin: 2px;
    padding: 5px;
    width: 200px;
    border-radius: 7px;
    background-color: #5bc0de;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    font-size: 13px;
    line-height: 1;
    word-break: keep-all
}

.widget {
    margin-bottom: 20px;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto
}

.widget h3 {
    color: #636363;
    font-weight: 700;
    font-size: 18px
}

.widget ul {
    padding: 10px 0 10px 15px
}

.widget li {
    width: 100%;
    min-height: 30px;
    list-style: none;
    font-size: 14px;
    line-height: 1.846153846
}

.widget li a {
    float: left;
    overflow: hidden;
    width: 70%;
    white-space: nowrap;
    word-break: keep-all
}

.widget li span {
    float: right;
    color: #bbb
}

.file-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-bottom: 30px;
    cursor: pointer
}

.file-wrapper input {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-size: 200px;
    opacity: .01;
    cursor: pointer;
    filter: alpha(opacity=1);
    -moz-opacity: .01
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer
}

.file-wrapper .button {
    display: inline-block;
    background: #666;
    cursor: pointer
}

.magnet-wrapper {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
    cursor: pointer
}

.file-wrapper .button,.magnet-wrapper input {
    padding: 20px;
    width: 100%;
    height: 110px;
    border: 5px solid #666;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px
}

.magnet-wrapper input {
    background-color: #666
}

.view {
    border-top: 1px solid #ccc
}

ul.info {
    margin: 30px 0 20px -40px;
    list-style: none;
    font-size: 1pc
}

ul.info li {
    margin-top: 10px
}

ul.info span {
    float: left;
    font-weight: 700
}

ul.info label {
    word-wrap: break-word;
    font-weight: 400
}

@media only screen and (max-width:480px) {
    ul.info span {
        width: 30%
    }

    ul.info label {
        width: 70%
    }

    .file-wrapper .button,.magnet-wrapper input {
        font-size: 14px
    }
}

@media only screen and (min-width:481px) and (max-width:765px) {
    ul.info span {
        width: 25%
    }

    ul.info label {
        width: 75%
    }

    .file-wrapper .button,.magnet-wrapper input {
        font-size: 18px
    }
}

@media only screen and (min-width:767px) {
    ul.info span {
        width: 20%
    }

    ul.info label {
        width: 80%
    }

    .file-wrapper .button,.magnet-wrapper input {
        font-size: 24px
    }
}

@media only screen and (min-width:1224px) {
    ul.info span {
        width: 10%
    }

    ul.info label {
        width: 90%
    }
}

.info ul {
    margin: 10px 0 0 -40px;
    list-style: none
}

.info ul li {
    padding: 5px 0 0 10px;
    color: #999;
    line-height: 24px
}

.info ul span {
    float: none;
    margin: 0 10px;
    width: auto;
    color: #666;
    font-weight: 400
}

label.keywords a {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border-radius: 7px;
    background-color: #5bc0de;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    font-size: 13px;
    line-height: 1
}

label i {
    color: #999
}

.tags a{margin:10px 10px 10px 0;}

.filelist {
    margin: 20px 0;
    border: 1px solid #ccc
}

.filelist .tit {
    padding: 5px;
    background: #efefef;
    line-height: 20px
}

.filelist .fileTree {
    padding: 10px
}

.treeview,.treeview ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.treeview ul {
    margin-top: 4px;
    background-color: #fff
}

.treeview .hitarea {
    float: left;
    margin-left: -1pc;
    width: 1pc;
    height: 1pc;
    background: url(/static/img/treeview-default.gif) -4pc -25px no-repeat;
    cursor: pointer
}

* html .hitarea {
    float: none;
    display: inline
}

.treeview li {
    margin: 0;
    padding: 3px 0 3px 1pc
}

.treeview a.selected {
    background-color: #eee
}

#treecontrol {
    display: none;
    margin: 1em 0
}

.treeview .hover {
    color: red;
    cursor: pointer
}

.treeview li {
    background: url(/static/img/treeview-default-line.gif) 0 0 no-repeat
}

.treeview li.collapsable,.treeview li.expandable {
    background-position: 0 -11pc
}

.treeview .expandable-hitarea {
    background-position: -5pc -3px
}

.treeview li.last {
    background-position: 0 -1766px
}

.treeview li.lastCollapsable,.treeview li.lastExpandable {
    background-image: url(/static/img/treeview-default.gif)
}

.treeview li.lastCollapsable {
    background-position: 0 -111px
}

.treeview li.lastExpandable {
    background-position: -2pc -67px
}

.treeview div.lastCollapsable-hitarea,.treeview div.lastExpandable-hitarea {
    background-position: 0
}

.treeview-red li {
    background-image: url(/static/img/treeview-red-line.gif)
}

.treeview-red .hitarea,.treeview-red li.lastCollapsable,.treeview-red li.lastExpandable {
    background-image: url(/static/img/treeview-red.gif)
}

.treeview-black li {
    background-image: url(/static/img/treeview-black-line.gif)
}

.treeview-black .hitarea,.treeview-black li.lastCollapsable,.treeview-black li.lastExpandable {
    background-image: url(/static/img/treeview-black.gif)
}

.treeview-gray li {
    background-image: url(/static/img/treeview-gray-line.gif)
}

.treeview-gray .hitarea,.treeview-gray li.lastCollapsable,.treeview-gray li.lastExpandable {
    background-image: url(/static/img/treeview-gray.gif)
}

.treeview-famfamfam li {
    background-image: url(/static/img/treeview-famfamfam-line.gif)
}

.treeview-famfamfam .hitarea,.treeview-famfamfam li.lastCollapsable,.treeview-famfamfam li.lastExpandable {
    background-image: url(/static/img/treeview-famfamfam.gif)
}

.treeview .placeholder {
    display: block;
    width: 1pc;
    height: 1pc;
    background: url(/static/img/ajax-loader.gif) 0 0 no-repeat
}

.fileTree li {
    padding: 3px 0 2px 1pc
}

.fileTree span.file,.fileTree span.folder,.fileTree span.video {
    display: block;
    padding: 1px 0 1px 18px
}

.fileTree span.folder {
    background: url(/static/img/folder.gif) 0 0 no-repeat
}

.fileTree li.expandable span.folder {
    background: url(/static/img/folder-closed.gif) 0 0 no-repeat
}

.fileTree li small {
    padding-left: 5px;
    color: #999;
    font-size: 11px
}
